.custom-shape-divider-top-1746498995 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1746498995 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-top-1746498995 .shape-fill {
    fill: #F1F5F9;
}

/* media queries */

@media only screen and (max-width: 600px) {
	.custom-shape-divider-bottom-1673458451 svg {
		height: 50px;
	}
}
@media only screen and (min-width: 600px) {
	.custom-shape-divider-bottom-1673458451 svg {
		height: 50px;
	}
}
@media only screen and (min-width: 768px) {
	.custom-shape-divider-bottom-1673458451 svg {
		height: 75px;
	}
}
@media only screen and (min-width: 992px) {
	.custom-shape-divider-bottom-1673458451 svg {
		height: 100px;
	}
}


.custom-shape-divider-bottom-1673458451 .shape-fill {
	fill: #ffffff;
}